<!-- <div class="container-fluid row gap-5 p-5">
<div class="col-md-5 ">
  <h2 class="text-primary pt-3">Welcome to your professional community</h2>
<div class="form-floating mb-3">
    <input type="email" class="form-control"placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div> <br>

  <label for="">Forget Password?</label> <br> <br>
  <button class="btn-btn w-100 border-0 bg-primary text-white p-3 rounded-2 ">Signin</button>
  <div style="display: flex; align-items: center; text-align: center;">
    <hr class="flex-grow-1">
    <span style="padding: 0 10px;">or</span>
    <hr class="flex-grow-1">
</div>
<span>By clicking Continue, you agree to LinkedIn’s <a href="">User Agreement, Privacy Policy, and Cookie Policy.

</a></span> <br> <br>

<div class="form-floating mb-3">
  <input type="email" class="w-100 border-primary p-3 rounded-3 text-center"placeholder="full-name@example.com">
</div>
<div class="form-floating">
  <input type="email" class="w-100 border-primary p-3 rounded-3 text-center"placeholder="New to linked in? Join now">
</div> <br>
</div>

  <div class="col-md-6">
    <img class="w-100 " src="/assets/dxf91zhqd2z6b0bwg85ktm5s4.svg" alt="image" srcset="">
</div>
</div> -->



<h1>My name is {{details.name}} 
my home address is {{details.address}}
i am {{details.age}}years old</h1>

<p>{{this.arrayTwo[0].school}}</p>