<!-- <div class="container-fluid  row w-100 shadow-lg p-5 bg">
    <div class="col-md-4">
      <h2 class="text-white pt-3">Explore collaborative articles</h2>
      <p class="text-white">We’re unlocking community knowledge in a new way. Experts add insights directly into each article, started with the help of AI.</p>
    </div>
           <div class="col-md-8 p-5">
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Marketing" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Public Administration" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Healthcare" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Engineering" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="IT service" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Sustainablity" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Business Administration" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Telecommunication" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="HR Management" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-0 " placeholder="Web design" >
        </div>
</div>

<div class="container-fluid p-5 row w-100 mt-5">
  <div class="col-md-4">
    <h2 class="text-primary pt-3">Find the right job or internship for you</h2>
  </div>
         <div class="col-md-8 p-5">
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Marketing" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Public Administration" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Healthcare" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Engineering" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="IT service" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Sustainablity" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Business Administration" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Telecommunication" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="HR Management" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Business Administration" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Telecommunication" >
<input type="text" class="p-2 rounded-5 mx-1 mt-2 text-center border-primary  " placeholder="Web design" >
      </div>
</div> -->